body{
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

img{
    width: 100%;
    height: 250px;
}
ul{
    line-height: 2rem;
}
td{
    text-align: center;
}
.container-fluid{
    margin-right: 75%;
}